:root {
    --ssltc-btn-gosth-bg: #ffffff00;
    --ssltc-btn-primary-bg: #46CE95;
    --ssltc-btn-primary-text: #FFFFFF;
    --ssltc-btn-secondary-bg: #F4F4F4;
    --ssltc-btn-secondary-text: #585858;
    --ssltc-btn-danger-bg: #F17373;
    --ssltc-btn-danger-text: #FFFFFF;
}

.btn {
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    --bg: var(--ssltc-btn-primary-bg);
    background-color: var(--bg);
    --color: var(--ssltc-btn-primary-text);
    color: var(--color);
    --border: var(--ssltc-btn-primary-bg);
    border: 1px solid var(--border);
    transition: 0.1s ease all;
}
.btn:focus:focus-within{
    outline: none;
    border-radius: blue;
}
.btn:active{
    filter: brightness(0.95);
    transform: scale(0.98);
}
.btn-icon {
    padding: 0.25rem 0.25rem;
}

.btn .icon {
    font-size: 0.75rem;
}

.btn.btn-primary {
    --bg: var(--ssltc-btn-primary-bg);
    --color: var(--ssltc-btn-primary-text);
    --border: var(--ssltc-btn-primary-bg);
}

.btn.btn-secondary {
    --bg: var(--ssltc-btn-secondary-bg);
    --color: var(--ssltc-btn-secondary-text);
    --border: var(--ssltc-btn-secondary-text);
}

.btn.btn-danger {
    --bg: var(--ssltc-btn-danger-bg);
    --color: var(--ssltc-btn-danger-text);
    --border: var(--ssltc-btn-danger-bg);
}

.btn.btn-primary.btn-ghost {
    --bg: var(--ssltc-btn-gosth-bg);
    --border: var(--ssltc-btn-gosth-bg);
    --color: var(--ssltc-btn-primary-bg);
}

.btn.btn-secondary.btn-ghost {
    --bg: var(--ssltc-btn-gosth-bg);
    --border: var(--ssltc-btn-gosth-bg);
    --color: var(--ssltc-btn-secondary-text);
}

.btn.btn-danger.btn-ghost {
    --bg: var(--ssltc-btn-gosth-bg);
    --border: var(--ssltc-btn-gosth-bg);
    --color: var(--ssltc-btn-danger-bg);
}
.btn.btn-ghost:active{
    filter: brightness(0.9);
    transform: scale(0.9);
}