.header{
    width: 100%;
    padding: 0.5rem 4rem;
    height: fit-content;
    background-color: #FFFFFF;
    color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar-right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}
.navbar-right > *{
    text-decoration: none;
    color: unset;
    border: none;
    padding: 0;
    height: min-content;
}
a:hover{
    text-decoration: none;
    color: unset;
}
.account .icon{
    stroke-width: 1px;
    width: 4rem;
    height: 4rem;
}
.account .account-picture{
    border-radius: 50px;
    width: 4rem;
    height: 4rem;
}