.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox-input {
    display: none;
    /* Ocultar el input real */
}

.checkbox-icon {
    vertical-align: bottom;
}