.checklists-list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: none;
    margin: none;
    display: grid;
    row-gap: 1rem;
}
.init-list{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--ssltc-btn-secondary-text);
}