.container {
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.container-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}

.container-actions {
    display: flex;
    gap: 1.5rem;
}

.btn-back .icon {
    stroke-width: 2px;
    width: 2.25rem;
    height: 2.25rem;
}

.checklist-actions-sm{
    display: none;
}
@media (max-width: 1080px) {
    .container {
        padding: 2.5rem 2.5rem;
    }
    .checklist-actions-sm{
        display: unset;
    }
    .checklist-actions{
        display: none;
    }
}